<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scan Result</title>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="grid place-center">
<section>
    <form class="input-container">
        <label>
            <input type="url"
                   name="q"
                   placeholder="URL"
                   hx-post="/scan"
                   hx-trigger="keyup=[key=='Enter']"
                   hx-swap="outerHTML"
                   class="input-field"
            />
        </label>
        <button class="button">Scan</button>
    </form>
</section>
</body>
</html>